In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
%matplotlib inline

In [3]:
df = pd.read_csv('data/towns.csv')
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [15]:
dummies = pd.get_dummies(df['town'])
dummies.head()

   monroe township  robinsville  west windsor
0                1            0             0
1                1            0             0
2                1            0             0
3                1            0             0
4                1            0             0

In [24]:
df_updated = pd.concat([df, dummies],axis='columns')
df_updated.drop(['town', 'west windsor'],axis='columns', inplace=True)
df_updated.head()

   area   price  monroe township  robinsville
0  2600  550000                1            0
1  3000  565000                1            0
2  3200  610000                1            0
3  3600  680000                1            0
4  4000  725000                1            0

In [27]:
training_data = df_updated[['area','monroe township', 'robinsville']]
target_data = df_updated['price']

'Shape Training: %s Shape Target: %s' % (training_data.shape, target_data.shape)

'Shape Training: (13, 3) Shape Target: (13,)'

In [28]:
reg = linear_model.LinearRegression()
reg.fit(training_data, target_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
# y = m1 * area + m2 * monroe township	 + m3 * robinsville + b
ms = reg.coef_
b = reg.intercept_

In [31]:
area = 2800
monroe_township = 1 
robinsville = 0

price = reg.predict([[area, monroe_township, robinsville]])[0]

print('For a home of:')
print('* %s sqr feet area' % area)
print('* %s town' % monroe_township)
print('* %s town' % robinsville)
print('\n')
print('the price predicted is %s' % np.floor(price))

For a home of:
* 2800 sqr feet area
* 1 town
* 0 town


the price predicted is 565089.0

In [33]:
(m1, m2, m3) = ms
y = m1 * area + m2 * monroe_township + m3 * robinsville + b
y

565089.2281229906

In [34]:
reg.score(training_data, target_data)

0.9573929037221873